@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 
TODO:
> Add variables for flexibility
*/

:root {
  /* --content-width-size: 75vw; */
  --navbar-background-color: beige;
  --content-background-color: cornflowerblue;
  /* Add padding variables */
  --action-button-height: 1.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.nav-container,
.content-container {
  display: flex;
  flex-direction: column;
}

.add-item,
.actions {
  border-top: 1px solid lightgrey;
}

.nav-list {
  display: flex;
  flex-direction: column;
  /* 100vh - (2 x padding size) - border height */
  height: calc(100vh - 1.5rem - 1px);
  width: calc(25vw);
  background-color: var(--navbar-background-color);
}

.nav-list button {
  height: 2rem;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 2rem;
}

.add-item button {
  width: 100%;
}

.content {
  /* 100vh - (2 x padding size) - button height - border height */
  height: calc(100vh - 4rem - 1.5rem - 1px);
  width: calc(75vw - 10rem);
  background-color: var(--content-background-color);
  padding: 2rem 5rem;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  width: 10%;
}

.add-item button,
.actions button {
  border: none;
  height: 1.5rem;
}

.nav-list ul {
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgrey;
}

.nav-list ul:last-of-type {
  margin-bottom: 0;
}

.nav-list button {
  width: 100%;
  border: none;
}

h1 {
  font-size: 32px;
  margin-bottom: 1rem;
}
