@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --content-width-size: 75%;
  --navbar-background-color: beige;
  --content-background-color: cornflowerblue;
  --left-right-padding-size: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--content-width-size));
  height: 100vh;
  background-color: var(--navbar-background-color);
  padding: var(--left-right-padding-size) 2rem;
}

.content {
  width: var(--content-width-size);
  height: 100vh;
  background-color: var(--content-background-color);
  padding: var(--left-right-padding-size) 5rem;
}

h1 {
  font-size: 32px;
  margin-bottom: 1rem;
}
