form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > fieldset {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add error checking and display to form */
.error-message {
  color: red;
}
