form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > fieldset {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr > button:last-of-type {
  margin-left: 16px;
}

div > label,
input[type="radio"] {
  margin: 0.5rem 0;
}

input[type="radio"]:last-of-type {
  margin-left: 1rem;
}

input[type="text"],
input[type="number"] {
  width: 50%;
}

.book-table > th {
  border: 1px solid black;
}

/* Add error checking and display to form */
.error-message {
  color: red;
  margin-top: 0.5rem;
}
