body {
  font-family: "Montserrat";
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > fieldset {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

fieldset > legend {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: black;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > label,
input[type="radio"] {
  margin: 0.5rem 0;
}

input,
button[type="submit"] {
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 6px;
  border: 1.5px solid black;
}

input[type="radio"]:last-of-type {
  margin-left: 1rem;
}

input[type="text"],
input[type="number"] {
  width: 50%;
}

input:focus {
  border: 1px solid rgb(0, 130, 255);
}

input:invalid {
  border: 1.5px solid red;
}

button[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0.5rem;
}

th {
  font-size: 1.4rem;
  background-color: aqua;
}

td {
  font-size: 1rem;
}

th,
td {
  border: 1px solid black;
  padding: 0.5rem;
}

.library-books {
  margin: 1rem;
}

.library-books > h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
  text-decoration: underline;
}

.error-message {
  font-size: 1rem;
  color: red;
  margin-top: 0.5rem;
}

.remove-button,
.read-status-button {
  padding: 4px 8px;
  border-radius: 8px;
  margin: 4px;
  border: 2px solid gray;
}

.remove-button {
  background-color: red;
  color: white;
}

.remove-button:hover {
  background-color: rgb(235, 0, 0);
}

.read-status-button {
  background-color: beige;
  color: black;
}

.read-status-button:hover {
  background-color: rgb(225, 225, 215);
}
