body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Exercise 1 */
/* input[type="search"] {
  appearance: none;
  width: 200px;
  line-height: 1.5rem;
  padding: 0 5px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;aq
}

input[type="search"]:hover,
input[type="search"]:focus {
  border: 2px solid blue;
}

form {
  display: flex;
}

.search-icon {
  margin-left: 8px;
  margin-top: 4px;
} */

/* Exercise 2 */
input[type="radio"],
input[type="radio"]:checked::before {
  border-radius: 8px;
}

input[type="radio"] {
  appearance: none;
  border: 2px solid black;
  height: 18px;
  width: 18px;
  margin: 8px 0;
}

input[type="radio"]:checked {
  background-color: 2px solid aqua;
  position: relative;
}

input[type="radio"]:checked::before {
  content: "";
  background-color: aqua;
  height: 14px;
  width: 14px;
  position: absolute;
}

li {
  display: flex;
}

label {
  margin: auto;
  margin-left: 4px;
}
