@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

#active {
  background-color: green;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  text-transform: capitalize;
  background-color: lightblue;
}

.main-actions {
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar h1 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0.2rem;
  margin-top: 0.5rem;
}

.sidebar button {
  border: none;
  width: 100%;
  text-align: left;
  padding: 0.2rem;
  text-transform: capitalize;
  background-color: lightblue;
}

.sidebar button:hover {
  background-color: red;
}

.sidebar .add {
  margin-top: auto;
  text-align: center;
  border-top: 0.5px solid grey;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 80vw;
  height: 100%;
  text-transform: capitalize;
}

.content h1 {
  font-size: 2rem;
  font-weight: 500;
}

.content h2 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-weight: 500;
}

.project-card-container h3 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.project-card-div {
  display: flex;
}

.datePriority {
  display: flex;
  margin-left: auto;
  width: 20%;
}

.datePriority h3:first-of-type {
  width: 30%;
}

/* 
TODO: 
> Fix the height of webpage
> Fix styling for {title} {due date} {priority}
 */
