@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --navbar-width: 25vw;
  --title-font-size: 2rem;
  --title-padding: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: beige;
}

.project-title {
  text-align: center;
  font-size: var(--title-font-size);
  padding: var(--title-padding);
}

.container {
  display: flex;
}

.navbar {
  width: var(--navbar-width);
  height: calc(100vh - (var(--title-padding) * 2) - var(--title-font-size));
}

.content {
  width: calc(100vw - var(--navbar-width));
}

.add-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  border: 1px solid black;
}

.add-list h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
}

.add-list-button {
  width: 100%;
}

.list-inputs {
  padding: 0.5rem;
}

.list-inputs label {
  display: inline-block;
  min-width: 6rem;
}

.list-input-text {
  width: 70%;
}

.list-inputs .last-input {
  min-width: 4rem;
}

.list-inputs select {
  width: 4.85rem;
}

.list-inputs:last-of-type {
  margin-left: auto;
  margin-right: 0.5rem;
}
