@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --navbar-width: 25vw;
  --title-font-size: 2rem;
  --title-padding: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: beige;
}

.project-title {
  text-align: center;
  font-size: var(--title-font-size);
  padding: var(--title-padding);
}

.container {
  display: flex;
}

.navbar {
  width: var(--navbar-width);
  height: calc(100vh - (var(--title-padding) * 2) - var(--title-font-size));
}

.content {
  width: calc(100vw - var(--navbar-width));
}

.add-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(205, 205, 205);
}

.add-list h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
}

.add-list-button {
  width: 100%;
}

.list-inputs {
  padding: 0.5rem;
}

.list-input-text,
.list-inputs select,
.save-button,
.cancel-button {
  border-radius: 0.4rem;
}

.list-inputs label {
  display: inline-block;
  min-width: 6rem;
}

.list-input-text {
  width: 70.5%;
  border: 1px solid black;
  line-height: 1.5rem;
}

.list-inputs .last-input {
  min-width: 4rem;
}

.list-inputs select {
  border: 1px solid black;
  padding: 0.3rem;
  width: 4.85rem;
}

.list-inputs:last-of-type {
  margin-left: auto;
  margin-right: 0.4rem;
}

.save-button,
.cancel-button {
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  border: 1px solid black;
}

.save-button {
  background-color: rgb(70, 150, 255);
  color: white;
}

.save-button:hover {
  background-color: rgb(90, 170, 255);
}

.cancel-button:hover,
.list-inputs select:hover {
  background-color: rgb(240, 240, 240);
}

/* 
TODO:
> Restrict the date
  > value="call JS function to get todays date"
  > only today & future dates
> Add styling to drop down menu
> Add JS to the button for popup and close

*/
